<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>



<div class="container" >
 <div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Produtos disponiveis</h4>
            <div>
                <p>dados da venda</p>
                
            </div>
        </div>
        <div style="overflow-x: scroll; max-height: 650px; scrollbar-width: thin;" class="card-body">
            
            <ul class="list-group">
                <% produtos.forEach(produto=>{ %>
                    <li class="list-group-item">
                       
                        <form action="/produto_venda/cadastrar" method="post">

                            <input  type="hidden" name="produtoId" value="<%= produto.id %>">
                            <input  type="hidden" name="vendaId" value="<%= venda.id %>">

                            <input  class="form-control" type="text" value="<%= produto.nome %>"readonly>

                            <input class="form-control" type="text" value="<%= produto.preco %>"readonly>

                            <label for="quantidade">QTD</label>

                            <input class="form-control" type="number" name="quantidade">

                            <button type="submit" class="btn btn-success">Adicionar</button>

                        </form>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
 
    <div class="card ml-3">
        <div class="card-header">
            <div class="card-title">
                <h4>Produtos da venda</h4>
                <div style="background-color: #ccc; box-shadow: 0em; padding: 10px; border-radius: 5px;" >
                    <p>cliente: <%= venda.cliente %></p>
                    <p>id da venda: <%= venda.id %></p>

                </div>
                
              

            </div>
            
           
        </div>
        <div style="overflow-x: scroll; max-height: 600px; scrollbar-width: thin;" class="card-body">
            
            <ul class="list-group">

                <% produtos_vendidos.forEach(produto_vendido=>{ %> 
                   <li class="list-group-item"> 
                    <p>    <%= produto_vendido.produto.nome %> <div class="produto" data-quantidade="<%= produto_vendido.quantidade %>" data-preco=" <%= produto_vendido.produto.preco %>" > </div>  </p><br>
                    <p<% produto_vendido * produto_vendido.quantidade %><p>
                   </li>    
                <% }) %>
               
            </ul>
        </div>

        <div class="card-footer">
            <label for="valor">Valor Venda</label>
            
            <form action="/fechar_venda" method="post">
                <input type="hidden" value="<%= venda.id %>" name="id">
                <input type="hidden" value="2" name="situacao">
                <input type="hidden" id="input_total" name="valor">
                <div id="valor_total" ></div>

                <button class="btn btn-success form-control ">Fechar Venda</button>
            </form>

        </div>
    </div>

</div>
</div>

<script>
    function somarPrecos(){
        const produtos = document.querySelectorAll('.produto');
        let totalPreco = 0;
        produtos.forEach(produto=>{
            const preco = parseFloat(produto.getAttribute('data-preco'));
            const quantidade = parseInt(produto.getAttribute('data-quantidade'),10);
            totalPreco += preco * quantidade;
        });

        document.getElementById('valor_total').innerHTML = totalPreco;
        document.getElementById('input_total').value = totalPreco;

        console.log(`O total dos preços é ${totalPreco.toFixed(2)}`);
    }

    somarPrecos();

</script>





<%- include('../partials/footer.ejs') -%>